# Bỏ qua thư mục ảo Python
venv/
__pycache__/
*.pyc

# Bỏ qua git
.git/
.gitignore

# Bỏ qua file môi trường local (CỰC QUAN TRỌNG ĐỂ BẢO MẬT)
.env

# Bỏ qua các file rác khác
README.md
Dockerfile
.dockerignore
cloudbuild.yaml